.data-input {
    width: 210mm;
    margin: 0 auto 50px auto !important;
}

.form {
    margin: 2em !important;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}

@media print{
    .data-input, .form {
        display:none;
    }
}